This notebook prepares the generation data for kafka/cassandra import.

In [1]:
import pandas

In [2]:
data =  pandas.read_csv("time_series_15min_stacked.csv")

C:\Users\trittenb.I40POOL\AppData\Local\Continuum\Anaconda3\envs\mega-workshop\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data['ts'] = pandas.to_datetime(data['utc_timestamp'])
data_DE = data.query("region=='DE'")
data_DE.drop('utc_timestamp',1)

        region      variable attribute     data                  ts
800236      DE          load       new    11239 2014-12-01 00:00:00
800237      DE          load       new    11136 2014-12-01 00:15:00
800238      DE          load       new    11022 2014-12-01 00:30:00
800239      DE          load       new    10961 2014-12-01 00:45:00
800240      DE          load       new    10923 2014-12-01 01:00:00
800241      DE          load       new    10841 2014-12-01 01:15:00
800242      DE          load       new    10999 2014-12-01 01:30:00
800243      DE          load       new    10946 2014-12-01 01:45:00
800244      DE          load       new    10996 2014-12-01 02:00:00
800245      DE          load       new    11004 2014-12-01 02:15:00
800246      DE          load       new    11115 2014-12-01 02:30:00
800247      DE          load       new    11177 2014-12-01 02:45:00
800248      DE          load       new    11185 2014-12-01 03:00:00
800249      DE          load       new    11182 2014-12-01 03:15:00
800250      DE          load       new    11356 2014-12-01 03:30:00
800251      DE          load       new    11675 2014-12-01 03:45:00
800252      DE          load       new    12234 2014-12-01 04:00:00
800253      DE          load       new    12410 2014-12-01 04:15:00
800254      DE          load       new    13015 2014-12-01 04:30:00
800255      DE          load       new    13724 2014-12-01 04:45:00
800256      DE          load       new    14839 2014-12-01 05:00:00
800257      DE          load       new    16089 2014-12-01 05:15:00
800258      DE          load       new    16986 2014-12-01 05:30:00
800259      DE          load       new    17456 2014-12-01 05:45:00
800260      DE          load       new    18529 2014-12-01 06:00:00
800261      DE          load       new    18934 2014-12-01 06:15:00
800262      DE          load       new    19356 2014-12-01 06:30:00
800263      DE          load       new    19733 2014-12-01 06:45:00
800264      DE          load       new    19986 2014-12-01 07:00:00
800265      DE          load       new    20273 2014-12-01 07:15:00
...        ...           ...       ...      ...                 ...
3160694     DE  wind_onshore   profile  22.9762 2016-12-31 15:30:00
3160695     DE  wind_onshore   profile  23.5835 2016-12-31 15:45:00
3160696     DE  wind_onshore   profile  24.0306 2016-12-31 16:00:00
3160697     DE  wind_onshore   profile  24.4411 2016-12-31 16:15:00
3160698     DE  wind_onshore   profile  24.8593 2016-12-31 16:30:00
3160699     DE  wind_onshore   profile  25.3386 2016-12-31 16:45:00
3160700     DE  wind_onshore   profile  25.8524 2016-12-31 17:00:00
3160701     DE  wind_onshore   profile   26.159 2016-12-31 17:15:00
3160702     DE  wind_onshore   profile  26.5984 2016-12-31 17:30:00
3160703     DE  wind_onshore   profile  26.8006 2016-12-31 17:45:00
3160704     DE  wind_onshore   profile  26.7844 2016-12-31 18:00:00
3160705     DE  wind_onshore   profile  26.9788 2016-12-31 18:15:00
3160706     DE  wind_onshore   profile  27.2665 2016-12-31 18:30:00
3160707     DE  wind_onshore   profile   27.517 2016-12-31 18:45:00
3160708     DE  wind_onshore   profile  27.4856 2016-12-31 19:00:00
3160709     DE  wind_onshore   profile  27.3237 2016-12-31 19:15:00
3160710     DE  wind_onshore   profile  27.2841 2016-12-31 19:30:00
3160711     DE  wind_onshore   profile  27.3271 2016-12-31 19:45:00
3160712     DE  wind_onshore   profile  27.3222 2016-12-31 20:00:00
3160713     DE  wind_onshore   profile  27.5729 2016-12-31 20:15:00
3160714     DE  wind_onshore   profile  27.7054 2016-12-31 20:30:00
3160715     DE  wind_onshore   profile   27.346 2016-12-31 20:45:00
3160716     DE  wind_onshore   profile  26.2549 2016-12-31 21:00:00
3160717     DE  wind_onshore   profile  26.2595 2016-12-31 21:15:00
3160718     DE  wind_onshore   profile  26.3925 2016-12-31 21:30:00
3160719     DE  wind_onshore   profile  26.3969 2016-12-31 21:45:00
3160720     DE  wind_onshore   profile  26.4744 2016-12-31 22:00:00
3160721     DE  wind_onshore   profile  26.6671 2016-12-31 22:15:00
3160722     DE  wind_onshore   profile   26.836 2016-12-31 22:30:00
3160723     DE  wind_onshore   profile  27.2086 2016-12-31 22:45:00

[2360488 rows x 5 columns]

In [4]:
data_DE.head()

,region,variable,attribute,utc_timestamp,data,ts
800236,DE,load,new,2014-12-01T00:00:00Z,11239,2014-12-01 00:00:00
800237,DE,load,new,2014-12-01T00:15:00Z,11136,2014-12-01 00:15:00
800238,DE,load,new,2014-12-01T00:30:00Z,11022,2014-12-01 00:30:00
800239,DE,load,new,2014-12-01T00:45:00Z,10961,2014-12-01 00:45:00
800240,DE,load,new,2014-12-01T01:00:00Z,10923,2014-12-01 01:00:00

In [5]:
data_DE.variable.unique()

array(['load', 'solar', 'wind', 'wind_offshore', 'wind_onshore'], dtype=object)

In [6]:
data_DE.attribute.unique()

array(['new', 'capacity', 'generation', 'profile'], dtype=object)

In [7]:
variables = ['solar', 'wind']
data_DE_export = data_DE.query("attribute=='generation' & variable == @variables")\
.rename(columns={'data':'value','variable':'type'}) \
.loc[:,['ts', 'type', 'region', 'value']]
data_DE_export.head()

                         ts   type region value
1273604 2011-12-31 23:00:00  solar     DE     0
1273605 2011-12-31 23:15:00  solar     DE     0
1273606 2011-12-31 23:30:00  solar     DE     0
1273607 2011-12-31 23:45:00  solar     DE     0
1273608 2012-01-01 00:00:00  solar     DE     0

In [8]:
data_DE_export.tail()

                         ts  type region  value
2129135 2016-12-31 21:45:00  wind     DE  14880
2129136 2016-12-31 22:00:00  wind     DE  14915
2129137 2016-12-31 22:15:00  wind     DE  14997
2129138 2016-12-31 22:30:00  wind     DE  15074
2129139 2016-12-31 22:45:00  wind     DE  15236

In [9]:
data_DE_export.query("type=='wind'").tail(75000)

                         ts  type region  value
2054140 2014-11-11 17:00:00  wind     DE   8940
2054141 2014-11-11 17:15:00  wind     DE   8730
2054142 2014-11-11 17:30:00  wind     DE   8787
2054143 2014-11-11 17:45:00  wind     DE   8799
2054144 2014-11-11 18:00:00  wind     DE   8825
2054145 2014-11-11 18:15:00  wind     DE   8750
2054146 2014-11-11 18:30:00  wind     DE   9058
2054147 2014-11-11 18:45:00  wind     DE   8942
2054148 2014-11-11 19:00:00  wind     DE   8889
2054149 2014-11-11 19:15:00  wind     DE   8879
2054150 2014-11-11 19:30:00  wind     DE   8924
2054151 2014-11-11 19:45:00  wind     DE   8850
2054152 2014-11-11 20:00:00  wind     DE   9109
2054153 2014-11-11 20:15:00  wind     DE   9255
2054154 2014-11-11 20:30:00  wind     DE   8744
2054155 2014-11-11 20:45:00  wind     DE   8484
2054156 2014-11-11 21:00:00  wind     DE   8185
2054157 2014-11-11 21:15:00  wind     DE   8085
2054158 2014-11-11 21:30:00  wind     DE   8079
2054159 2014-11-11 21:45:00  wind     DE   7889
2054160 2014-11-11 22:00:00  wind     DE   7911
2054161 2014-11-11 22:15:00  wind     DE   7738
2054162 2014-11-11 22:30:00  wind     DE   7556
2054163 2014-11-11 22:45:00  wind     DE   7558
2054164 2014-11-11 23:00:00  wind     DE   7271
2054165 2014-11-11 23:15:00  wind     DE   6967
2054166 2014-11-11 23:30:00  wind     DE   6847
2054167 2014-11-11 23:45:00  wind     DE   6767
2054168 2014-11-12 00:00:00  wind     DE   6960
2054169 2014-11-12 00:15:00  wind     DE   6984
...                     ...   ...    ...    ...
2129110 2016-12-31 15:30:00  wind     DE  13335
2129111 2016-12-31 15:45:00  wind     DE  13602
2129112 2016-12-31 16:00:00  wind     DE  13781
2129113 2016-12-31 16:15:00  wind     DE  13972
2129114 2016-12-31 16:30:00  wind     DE  14163
2129115 2016-12-31 16:45:00  wind     DE  14370
2129116 2016-12-31 17:00:00  wind     DE  14606
2129117 2016-12-31 17:15:00  wind     DE  14750
2129118 2016-12-31 17:30:00  wind     DE  14948
2129119 2016-12-31 17:45:00  wind     DE  15039
2129120 2016-12-31 18:00:00  wind     DE  15034
2129121 2016-12-31 18:15:00  wind     DE  15126
2129122 2016-12-31 18:30:00  wind     DE  15251
2129123 2016-12-31 18:45:00  wind     DE  15371
2129124 2016-12-31 19:00:00  wind     DE  15361
2129125 2016-12-31 19:15:00  wind     DE  15290
2129126 2016-12-31 19:30:00  wind     DE  15268
2129127 2016-12-31 19:45:00  wind     DE  15292
2129128 2016-12-31 20:00:00  wind     DE  15284
2129129 2016-12-31 20:15:00  wind     DE  15391
2129130 2016-12-31 20:30:00  wind     DE  15449
2129131 2016-12-31 20:45:00  wind     DE  15294
2129132 2016-12-31 21:00:00  wind     DE  14816
2129133 2016-12-31 21:15:00  wind     DE  14818
2129134 2016-12-31 21:30:00  wind     DE  14876
2129135 2016-12-31 21:45:00  wind     DE  14880
2129136 2016-12-31 22:00:00  wind     DE  14915
2129137 2016-12-31 22:15:00  wind     DE  14997
2129138 2016-12-31 22:30:00  wind     DE  15074
2129139 2016-12-31 22:45:00  wind     DE  15236

[75000 rows x 4 columns]

In [10]:
# export some recent data
data_DE_export.query("type=='wind'").tail(75000).to_csv("wind_trimmed.csv", index=False)
data_DE_export.query("type=='solar'").tail(75000).to_csv("solar_trimmed.csv", index=False)

In [11]:
# full export
data_DE_export.to_csv("de_generation.csv")